.black-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}
.inner_box {
  padding: 25px;
  border-bottom: 1px #555 solid;
}
.inner_box h5 {
  font-size: 18px;
  margin: 0 0 10px 0;
}
.inner_box p {
  margin: 0;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}